google-api-python-client
requests
bs4
ics
python-telegram-bot
selenium
praw
gTTS==2.2.1
# Alpha version fixes googletrans bug - see https://stackoverflow.com/a/65109346/14282680
googletrans==3.1.0a0
schedule
feedparser
lxml
PyMySQL
python-dotenv
